.container{
	width: calc(100% - 600px);
	margin: 0px auto;
}
label{
	font-size: 20px;
	margin: 10px 10px;
}

.inp{
	display: block;
	padding: 10px;
	border-radius: 20px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}
button{
	padding: 10px 20px;
	display: block;
}