body{
	margin: 0px auto;
}
.head{
	padding: 30px 0px 30px 0px;
    background-color: blue;
    text-align: center;
    justify-content: center;
}

.logo{
    text-align: center;
}
.menu{
	margin:10px auto;
}

a{
	text-decoration: none;
	color: white;
	font-weight: 900;
	padding: 40px;
}

button{
	border-radius: 50%;
	background-color: aqua;
	padding: 10px;
	border-radius: 1px solid black;
	outline: none;

}