body{
	margin: 0px auto;
}
.head{
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    background-color: blue;
}

.logo{

}
.menu{
	justify-content: space-between;
}

a{
	text-decoration: none;
	color: white;
	font-weight: 900;
	padding: 10px;
}