body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

p{
    margin:0px;
    
}

.container{
    width: calc(100% - 300px);
    margin: 0px auto;
    padding: 10px 0px;
}

.passion{
    display: flex;
    flex-direction: row;
    justify-content: table-cell;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.text{
    width: 500px;
    justify-content: space-around;
    margin: 0px;
    padding: 20px;
}

.bigText{
    font-size: 35px;
    font-weight: 600;
}

.smallText{
    font-size: 11px;
    color: grey;
    width: 330px;
    margin: 10px;
}