body{
 margin: 0px;
}

.container{
  width: calc(100% - 300px);
  margin: 0 auto;
}
.card{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.int{
  display: block;
  text-align: center;
}