body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

p{
    margin:0px;
    
}

.container{
    width: calc(100% - 300px);
    margin: 0px auto;
    padding: 10px 0px;
}

.text{
    width: 500px;
    justify-content: space-around;
    margin: 0px;
    padding: 20px;
}

.bigText{
    font-size: 35px;
    font-weight: 600;
}

.smallText{
    font-size: 11px;
    color: grey;
    width: 330px;
    margin: 10px;
}

.boxes{
    text-align: center;
    margin-top: 40px;
}

.item{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: 250px;
  width: 250px;
  margin: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 8px 8px 8px #E7E7EE;
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin-top: 60px;
}
.col{
    color: #191485;
    font-weight: 900;
    margin-top: 5px;
}